@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@400;700&display=swap');

//$theme-dark: #34A1E0;
$theme-dark: #006699;
$theme-light: #26F1FF;
//$theme-complement: #d6008f;
$theme-complement: #f016a7;
$font-color: #20205a;
// $font-color: #40408f;


body {
  background: $theme-dark;
  color: $font-color;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

nav {
  background: $theme-complement;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;

  ul {
    margin: 0 10vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

    li {
      border-right: solid 2px darken($theme-complement, 20%);
      border-left: solid 2px darken($theme-complement, 20%);
      padding: 0 25px;

      a {
        color: #ffffff!important;
        text-decoration: none;
        transition: 0.3s ease-in;
      }

      a:hover {
        color: lighten($theme-complement, 20%)!important;
      }
    }
  }
}

main {
  margin: 0 20vw;
  background: $theme-light;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

a {
  color: $theme-complement;
}

a:hover {
  color: lighten($theme-complement, 20%)
}

a:visited {
  color: darken($theme-complement, 20%);
}

*[link] {
  cursor: pointer;
}

#profile-img-container img {
    border: solid 2px $theme-complement;
    border-radius: 50%;
    width: 100%;
    transition: 1s linear;
}

.row {
  padding: 20px;
}

/* #region Slide Buttons */
.slide-button {
  position: relative;
  overflow: hidden;
  padding: 5px;
  border: solid 2px $theme-complement;
  text-align: center;
  background: $theme-dark;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

.slide-button:hover {
  filter: brightness(80%);
}

.slide-text {
  width: 90%;
  padding: 5% 0 5% 10%;

  h4 {
    font-weight: 700;
  }
}

.slide-button > * {
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.slide-button > img {
  margin: 0;
  padding: 0;
  z-index: 99;
  width: 100%;
  object-fit: fill;
}

.hide-lg {
  display: none;
}

.spacer {
  height: 50px;
}
/* #endregion */

/* #region Competency */
#competencies {
  .competency {
    width: 100px;
    height: 100px;
    display: flex;
  }

  h4 {
    z-index: 99;
    justify-content: center;
    align-items: center;
  }
}
/* #endregion */

/* #region Media Queries */
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  
}

// Large devices (desktops, less than 1200px)
@media (min-width: 991.99px) {
  .hide-lg {
    display: block;
  }
}
/* #endregion */
